---
import Layout from "./Layout.astro"
const { frontmatter } = Astro.props
---

<Layout
  title={`${frontmatter.title} by ${frontmatter.author} - Book Review`}
  description={frontmatter.excerpt}
  img={frontmatter.banner}
  type="article"
  readTime={frontmatter.readTime}
  publishedDate={new Date(frontmatter.date).toISOString()}
  lastUpdated={new Date(frontmatter.updatedAt).toISOString()}
  route={frontmatter.url}
>
  <div class="section">
    <div class="inner">
      <h2 class="title">
        {frontmatter.title}
      </h2>
      <div class="row">
        <div>{frontmatter.pages} pages</div>
        <div>By <span class="bold">{frontmatter.author}</span></div>
      </div>
      <main>
        <div class="cover-img-ctn">
          <div class="backdrop"></div>
          <div
            class="cover-img"
            style={`background-image: url(${frontmatter.cover})`}
          >
          </div>
        </div>
        <div class="texts">
          <h3>Book Review</h3>
          <article>
            <slot />
          </article>
        </div>
      </main>
    </div>
  </div>
</Layout>

<style>
  .inner {
    padding-top: 5rem;
  }
  .title {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 4.1rem;
  }
  .row {
    display: flex;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 1.2rem;
    margin-bottom: 3rem;
  }
  .row > div:nth-child(1) {
    border-right: 2px solid #e7e7e7;
    padding-right: 1rem;
    margin-right: 1rem;
  }
  main {
    display: flex;
    gap: 3rem;
  }
  .cover-img-ctn {
    background-color: var(--primary-dark);
    width: 450px;
    min-width: 450px;
    height: 700px;
    border-radius: 16px;
    margin-bottom: 3rem;
    position: relative;
  }
  .cover-img {
    background-color: var(--primary-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 450px;
    min-width: 450px;
    height: 700px;
    border-radius: 16px;
    position: absolute;
    inset: 0;
  }
  .backdrop {
    background-color: var(--primary);
    width: 450px;
    min-width: 450px;
    height: 700px;
    border-radius: 16px;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  h3 {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  /* ----------
  MEDIA QUERIES
  ------------*/
  @media screen and (max-width: 1100px) {
    main {
      gap: 3rem;
    }
    .cover-img-ctn {
      width: 380px;
      min-width: 380px;
      height: 590px;
    }
    .cover-img {
      width: 380px;
      min-width: 380px;
      height: 590px;
    }
    .backdrop {
      width: 380px;
      min-width: 380px;
      height: 590px;
    }
  }
  @media screen and (max-width: 920px) {
    .inner {
      padding-top: 5%;
    }
    main {
      flex-direction: column;
      gap: 0;
    }
    .cover-img-ctn {
      margin-bottom: 3rem;
      width: 450px;
      min-width: 450px;
      height: 700px;
    }
    .cover-img {
      width: 450px;
      min-width: 450px;
      height: 700px;
    }
    .backdrop {
      width: 450px;
      min-width: 450px;
      height: 700px;
    }
    h3 {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
  }

  @media screen and (max-width: 600px) {
    .title {
      font-size: 2rem;
      line-height: 3rem;
    }
    .row {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
    .row > div:nth-child(1) {
      border-right: 2px solid #e7e7e7;
      padding-right: 0.6rem;
      margin-right: 0.6rem;
    }
    .cover-img-ctn {
      width: 100%;
      min-width: 100%;
      height: 580px;
    }
    .cover-img {
      width: 100%;
      min-width: 100%;
      height: 580px;
    }
    .backdrop {
      width: 100%;
      min-width: 100%;
      height: 580px;
      top: 0.4rem;
      right: 0.4rem;
    }
    article p {
      font-size: 1.1rem;
      line-height: 2rem;
    }
    h3 {
      margin-top: 0;
    }
  }
</style>
