---
import Layout from "./Layout.astro";
const {frontmatter} = Astro.props;
---

<Layout 
  title={`${frontmatter.title} - Favour Felix`}
  description={frontmatter.excerpt}
  img={frontmatter.banner}
  type="article"
  readTime={frontmatter.readTime}
  publishedDate={new Date(frontmatter.date).toISOString()}
  lastUpdated={new Date(frontmatter.updatedAt).toISOString()}
>
	<div class="section">
		<div class="inner">
      <h2 class="title">
        {frontmatter.title}
      </h2>
      <div class="row">
        <div>November 11, 2022</div>
        <div>Read for <span class="bold">{frontmatter.readTime}</span></div>
      </div>
      <main>
        <div class="cover-img-ctn">
          <div class="backdrop" />
          <div class="cover-img" style={`background-image: url(${frontmatter.cover})`} />
        </div>
        <article>
          <slot />
        </article>
      </main>
		</div>
	</div>
</Layout>

<style>
  .inner {
    padding-top: 5rem;
  }
	.title {
		font-weight: 500;
		font-size: 3.5rem;
		line-height: 4.1rem;
	}
  .row {
    display: flex;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 1.2rem;
    margin-bottom: 3rem;
  }
  .row > div:nth-child(1) {
    border-right: 2px solid #E7E7E7;
    padding-right: 1rem;
    margin-right: 1rem;
  }
  .cover-img-ctn {
    height: 600px;
    position: relative;
    width: 100%;
    margin-bottom: 3rem;
    border-radius: 16px;
  }
  .cover-img {
    background-color: var(--primary-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    inset: 0;
    border-radius: 16px;
  }
  .backdrop {
    position: absolute;
    background: var(--primary);
    border-radius: 16px;
    height: 100%;
    width: 100%;
    inset: 0;
    top: 1rem;
    left: -1rem;
  }
  p {
    font-family: 'IBM Plex Serif', sans-serif;
  }
  p > span {
    display: block;
    font-family: 'IBM Plex Serif', sans-serif;
  }

  /* ----------
  MEDIA QUERIES
  ------------*/
  @media screen and (max-width: 600px) {
    .inner {
      padding-top: 5%;
    }
    .title {
			font-size: 2rem;
			line-height: 3rem;
    }
    .row {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
    .row > div:nth-child(1) {
      border-right: 2px solid #E7E7E7;
      padding-right: 0.6rem;
      margin-right: 0.6rem;
    }
    .cover-img-ctn {
      height: 200px;
      margin-bottom: 2rem;
    }
    .cover-img {
      height: 200px;
    }
    .backdrop {
      height: 200px;
      top: 0.4rem;
      left: -0.4rem;
    }
    p {
      font-size: 1.1rem;
      line-height: 2rem;
    }
    p > .major {
      font-size: 1.3rem;
      line-height: 2.2rem;
    }
    p > span {
      margin-bottom: 1.5rem;
    }
  }
</style>
