---
import StoryCard from "../components/StoryCard.astro";
import Layout from "./Layout.astro"
const { frontmatter } = Astro.props

let stories = await Astro.glob('../pages/stories/*.md');
stories = stories.filter((story) => story.frontmatter.tag === frontmatter.tag).filter(story => story.frontmatter.title !== frontmatter.title)
// select 4 random stories
const randomStories = stories.sort(() => Math.random() - 0.5).slice(0, 3)
stories = randomStories

---

<Layout
  title={`${frontmatter.title} - Favour Felix`}
  description={frontmatter.excerpt}
  img={frontmatter.banner}
  type="article"
  readTime={frontmatter.readTime}
  publishedDate={new Date(frontmatter.date).toISOString()}
  lastUpdated={new Date(frontmatter.updatedAt).toISOString()}
  route={frontmatter.url}
>
  <div class="section">
    <div class="inner">
      <h1 class="title">
        {frontmatter.title}
      </h1>
      <div class="row">
        <div>
          <span class={frontmatter.tag}> </span>{frontmatter.date}
        </div>
        <div>Read for <span class="bold">{frontmatter.readTime}</span></div>
      </div>
      <main>
        <div class="cover-img-ctn">
          <div class="backdrop"></div>
          <div
            class="cover-img"
            style={`background-image: url(${frontmatter.cover})`}
          >
          </div>
        </div>
        <article>
          <slot />
        </article>
        <div class="more-stories">
          <h2 class="ms-title">
            Read similar stories that might interest you
          </h2>
          <div class="ms-stories">
            {stories.map((story) => (
              <StoryCard story={story} />
            ))}
          </h2>
        <a
          aria-label="Revaise LinkedIn link"
          href="/stories/"
          class="read-all"
        >
          Read all stories
        </a>
        </div>
      </main>
    </div>
  </div>
</Layout>

<style>
  .inner {
    padding-top: 5rem;
  }
  .title {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 4.1rem;
  }
  .row {
    display: flex;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 1.2rem;
    margin-bottom: 3rem;
  }
  .row > div:nth-child(1) {
    border-right: 2px solid #e7e7e7;
    padding-right: 1rem;
    margin-right: 1rem;
  }
  .cover-img-ctn {
    height: 600px;
    position: relative;
    width: 100%;
    margin-bottom: 3rem;
    border-radius: 16px;
  }
  .cover-img {
    background-color: var(--primary-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    inset: 0;
    border-radius: 16px;
  }
  .backdrop {
    position: absolute;
    background: var(--primary);
    border-radius: 16px;
    height: 100%;
    width: 100%;
    inset: 0;
    top: 1rem;
    left: -1rem;
  }
  p {
    font-family: "IBM Plex Serif", sans-serif;
  }
  p > span {
    display: block;
    font-family: "IBM Plex Serif", sans-serif;
  }
  
  .more-stories {
    max-width: 850px;
    margin-right: auto;
    margin-left: auto;
  }
  .ms-title {
    color: var(--primary-dark);
    font-weight: 500;
    margin-bottom: 3%;
    margin-top: 5%;
    font-size: 2rem;
  }
  .more-stories a.read-all {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 1px solid #ffffff;
  }
  .more-stories .read-all:hover {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
  }

  /* ----------
  MEDIA QUERIES
  ------------*/
  @media screen and (max-width: 600px) {
    .inner {
      padding-top: 5%;
    }
    .title {
      font-size: 2rem;
      line-height: 3rem;
    }
    .row {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
    .row > div:nth-child(1) {
      border-right: 2px solid #e7e7e7;
      padding-right: 0.6rem;
      margin-right: 0.6rem;
    }
    .cover-img-ctn {
      height: 200px;
      margin-bottom: 2rem;
    }
    .cover-img {
      height: 200px;
    }
    .backdrop {
      height: 200px;
      top: 0.4rem;
      left: -0.4rem;
    }
    p {
      font-size: 1.1rem;
      line-height: 2rem;
    }
    p > .major {
      font-size: 1.3rem;
      line-height: 2.2rem;
    }
    p > span {
      margin-bottom: 1.5rem;
    }
    .ms-title {
      font-size: 1.5rem;
      margin-bottom: 5%;
    }
  }
</style>
